* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(10, 104, 255);
  --border-color: rgb(221, 221, 227);
  --text-color: #808089;
  --white-color: #fff;
  --hover-color: #efefef;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}