.sidebar {
    height: calc(100vh - 60px);
    width: 200px;
    background-color: rgba(10, 104, 255, 0.7);
    border-top-right-radius: 8px;
    color: #fff;

    div {
        padding-top: 12px;
        padding-left: 12px;
    }
}