.main {
    background-color: #f5f5fa;
    display: block;
}

.main::after {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid var(--border-color);
    width: 100%;
    top: 60px;
}

.wrapper {
    display: flex;
    width: 1440px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background-color: #f5f5fa;
    min-height: 750px;
}

.container {
    width: 1440px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-content {
    width: 96%;
    padding: 8px 24px;
    margin-left: 11px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.header-title {
    color: #ee4d2d;
    font-weight: 500;
    margin-top: 4px;
}

.address-title {
    display: flex;
    align-items: center;
    color: #ee4d2d;
    font-size: 1.4rem;
    margin: 14px 0;
    height: 24px;
    line-height: 24px;
    text-transform: capitalize;

    .icon {
        display: flex;
        align-items: center;
        height: 16px;
        width: 12px;
        margin-right: 9px;
    }

    h2 {
        margin-bottom: 0.5em;
        font-weight: 500;
        margin: 0;
        line-height: 1;
    }
}

.address-detail {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 20px;

    .name-user, .phone {
        color: #222;
        font-weight: 700;
    }

    .phone {
        margin-left: 10px;
    }

    .address {
        margin-left: 20px;
    }

    .change-address {
        color: var(--primary-color);
        margin-left: 20px;
        cursor: pointer;
    }
}

.checkout-header, 
.checkout-product {
    display: flex;
    align-items: center;
    margin: 20px 0;
    position: relative;

    .first-element {
        display: flex;

        img {
            
            width: 80px;
            margin-right: 12px;
        }
    }

    .element {
        text-align: center;
    }

    .element:first-child {
        flex: 1;
        text-align: left;
    }

    .element:nth-child(2),
    .element:nth-child(3),
    .element:nth-child(4) {
        width: 190px;
        flex-shrink: 0;
    }
}

.checkout-product {
    height: 115px;
}


.checkout-container {
    display: flex;
}

.voucher {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 1.8rem;
    height: 100%;
    width: 50%;

    .voucher-header {
        height: 43px;
        margin-right: 10px;
        line-height: 43px;
    }

    input {
        border: 1px solid #ccc;
        padding: 0 8px;
        border-radius: 2px;
        height: 43px;
    }
    
    input:hover {
        box-shadow: none;
    }

    input:focus {
        outline: none;
    }

    .voucher-btn {
        color: #fff;
        background-color: rgb(238, 75, 43);
        margin-left: 20px;
        padding: 8px 30px;
        border-radius: 2px;
        height: 43px;
        cursor: pointer;
    }

    .voucher-btn:hover {
        background-color: rgba(238, 75, 43, 0.92);
    }
}


.checkout {
    margin-top: 10px;
    font-size: 1.8rem;
    width: 630px;

    .checkout-option {

        button {
            position: relative;
            padding: 4px 12px;
            background-color: #fff;
            height: 43px;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button + button {
            margin-left: 12px;
        }

        button.active {
            border: 1px solid #ee4d2d;
            border-radius: 4px;
            color: #ee4d2d;
        }
    }

    .price {
        display: flex;
        flex-direction: column;

        .price-original {
            margin-top: 12px;
            display: flex;
            width: 600px;

            .price-original-header {
                width: 400px;
            }
        }

        .shipping {
            margin-top: 16px;
            display: flex;
            width: 600px;

            .shipping-header {
                width: 400px;
            }
        }

        .discount {
            margin-top: 12px;
            display: flex;
            width: 600px;

            .discount-header {
                display: flex;
                width: 400px;
            }
        }

        .price-total {
            margin-top: 12px;
            display: flex;
            width: 600px;
            color: #ee4d2d;
            font-size: 2rem;
            font-weight: 600;

            .price-total-header {
                width: 400px;
            }
        }
    }



    .payment {
        display: flex;

        .payment-header {
            width: 400px;
        }

        .payment-select {
            display: flex;
            flex-direction: column;

            button {
                position: relative;
                padding: 4px;
                background-color: #fff;
                height: 43px;
                width: 200px;
                cursor: pointer;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            button.active {
                border: 1px solid #ee4d2d;
                border-radius: 4px;
                color: #ee4d2d;
            }

            button + button {
                margin-top: 10px;
            }
        }
    }

    .buy {
        display: flex;
        align-items: center;
        margin-top: 20px;


        .checkout-btn {
            margin-left: 350px;
            width: 200px;
            border: none;
            align-items: center;
            background-color: #ee4d2d;
            color: #fff;
            height: 48px;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .checkout-btn:hover {
            background-color: rgba(238, 77, 45, 0.85);
        }
    }
}

.tick-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 9px;
    height: 9px;
    fill: white;
    z-index: 2;
}

.tick-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
    pointer-events: none;
}

.tick-wrapper::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent #ee4d2d transparent;
    z-index: 1;
}

.color-info {
    margin-top: 8px;
}

.voucher-list {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.applied-voucher {
    position: relative;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    min-width: 100px;

    &.active {
        border-color: #ee4d2d;
        color: #ee4d2d;
    }
}
