.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.wrapper {
    display: flex;
    position: relative;
    width: 1000px;
    background: rgb(248, 248, 248);
    border-radius: 20px;
    padding: 30px;
}

.content {
    h2 {
        margin-bottom: 10px;
    }
}

.btn-close {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-close img {
    width: 42px;
}