.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .main {
  display: flex;
  flex: 1; // chiếm phần còn lại sau header
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}